@import "../../index.scss";

.tour {
    position: relative;
    background: #d1d1e0;
    margin: 2rem 0;
    border: 3px solid black;
    font-weight: bold;
    text-shadow: 4px 4px 5px red;
    img {
        width: 100%;
        display: flex;
        min-height: 13rem;
        border: 2px solid black;
    }
    .subwayStyle {
        // border: 2px solid red;
          position: absolute;
          top: 85%;
          left: 75%;
          h6 {
            text-align: right;
            margin-top: -20px;
          }
      }
      span.sub_icon, label.sub_icon {
        width: 1.3em;
        height: 1.3em;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        border-radius: 5em;
        float: left;
        margin: 5px;
        font-family: Helvetica;
        font-weight: 500;
        padding: 1px;
        font-size: 16px;
        text-align: center;
        color: #FFF;
      }
      span.sub_iconY, label.sub_icon {
        width: 1.3em;
        height: 1.3em;
        border-radius: 5em;
        -moz-border-radius: 5em;
        border-radius: 5em;
        float: left;
        margin: 5px;
        font-family: Helvetica;
        font-weight: 500;
        padding: 1px;
        font-size: 16px;
        text-align: center;
        color: #000;
      }
      
      span.sub_icon._J {
        background:#8f5a00;
      }
      
      span.sub_icon._Z {
        background:#8f5a00;
      }
      
      span.sub_icon._B {
        background:#fe8f00;
      }
      
      span.sub_icon._D {
        background:#fe8f00;
      }
      span.sub_icon._M {
        background:#fe8f00;
      }
      span.sub_icon._F {
        background:#fe8f00;
      }
      
      span.sub_iconY._N {
        background:#ffea00;
      }
      
      span.sub_iconY._R {
        background:#ffea00;
      }
      
      span.sub_iconY._Q {
        background:#ffea00;
      }
      
      span.sub_icon._A {
        background:#2a36b1;
      }
      
      span.sub_icon._C {
        background:#2a36b1;
      }
      
      span.sub_icon._E {
        background:#2a36b1;
      }
      
      span.sub_icon._4 {
        background:#0a8f08;
      }
      
      span.sub_icon._5 {
        background:#0a8f08;
      }
      
      span.sub_icon._6 {
        background:#0a8f08;
      }
      
      span.sub_icon._1 {
        background:#e51c23;
      }
      
      span.sub_icon._2 {
        background:#e51c23;
      }
      
      span.sub_icon._3 {
        background:#e51c23;
      }
      
      span.sub_icon._L {
        background:#757575;
      }
      
      span.sub_icon._S {
        background:#757575;
      }
      
      span.sub_icon._7 {
        background:#d500f9;
      }
      
      span.sub_icon._G {
        background:#42bd41;
      }
}

@media screen and (min-width: 768px) {
    .tour {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-column-gap: 1rem;
    }
}

.img-container {
    position: relative;
}

.close-btn {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    color: $mainBlack;
    font-size: 1.5rem;
    cursor: pointer;
    transition: $mainTransition;
    opacity: 0;
}

.img-container:hover .close-btn {
    opacity: 1;
}

.tour-info {
    padding: 3rem 1rem;
    h3 {
        text-transform: capitalize;
        margin: .2rem 0 0.6rem 0;
    }
    h5 {
        text-transform: capitalize;
        span {
            color: $mainBlack;
            margin: .5rem;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}